.current{
    flex-basis: 73%;
    height: 100%;
    width: 100%;
}

.searchForm{
    height: 5rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.input{
    padding: 0.2rem 1rem 0.2rem 1.75rem;
    width: calc(90% - 4rem);
    height: 2rem;
    font-weight: 100;
    letter-spacing: 0.08rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid transparent;
    transition: border-color 0.25s; 
}
.input:focus{
    font-weight: 500;
    border-bottom-color: grey;
}
.button{
    position: absolute;
    border: none;
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    left: calc(5% + 2.2rem);
    cursor: pointer;
}

.mainContent{
    width: 90%;
    height: 40%;
    display: flex;
    border-radius: 2rem;
    background-color: #c4e1ff;
    margin: auto;
    padding: 2rem;
}

.imageArea{
    width: 48%;
    height: 95%;
    margin: 0 1%;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #d5eaff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageArea img{
    width: 15rem;
    height: 15rem;
}

.extraDetail{
    width: 90%;
    height: 40%;
    margin: 2rem auto;
    gap: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.extraContent{
    width: 95%;
    height: 90%;
    margin: auto;
    background-color: #ecf2f7;  
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #1b1f21;
    letter-spacing: 0.2rem;
}

.extraContent p{
    color: #aeb2b6;
    font-size: 0.75em;
}