.container{
    min-height: calc(100vh - 4rem);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardholder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form{
    display: flex;
    align-items: center;
}

.errors{
    color: red;
}