.input, .select{
    display: block;
    width: 80%;
    font-size: 1rem;
    margin: 0 auto 0.5rem;
    height: 1.75rem;
    border-radius: 0.25rem;
    padding: 0.25rem;
}
.form{
    display: flex;
    margin: auto;
    width: 90vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.label{
    margin: 0.5rem 10% 0;
    font-size: 1.2rem;
}
.button{
    margin: 0.5rem 20%;
}
.title{
    width: 100%;
    text-align: center;
}

@media (max-width: 750px){
    .form{
        width: 90vw;
    }
}

